.titletag {
  text-align: center;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "Montserrat", sans-serif;
  background-position: top;
}
.titletag-container {
  padding-top: 50px;
}
.titletag h1 {
  font-size: 70px;
}

@media(max-width:768px) {
  .titletag h1 {
    font-size: 49px;
  }
}

@media(max-width:600px) {
  .titletag h1 {
    font-size: 40px;
  }
}
