@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body{
    background-color:#ffffff;
    font-family:'Montserrat', sans-serif;
}
.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
    --bs-gutter-x: 8.5rem !important;
}
section{
    padding: 80px 0;
}
section h1{
    font-size:50px;
}
div h1{
    font-size:50px; 
    margin-bottom: 15px;
}
@media (min-width: 991px) and (max-width: 1025px) {
    .container-fluid {
        --bs-gutter-x: 1.5rem !important;
    }
    div h1 {
        font-size: 45px;}
 
}

@media (max-width: 768px) {
    .container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
        --bs-gutter-x: 1.5rem !important;
    }
}
@media(max-width:600px){
    section {
        padding: 28px 0;
    }
}