.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
    --bs-gutter-x: 8.5rem!important;}
    @media(max-width:768px){
        .container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
            --bs-gutter-x: 1.5rem!important;}
    }
    body{
        background-color: black!important;
        color:white!important;
    }
    